asgiref
attrs
Django
django-cors-headers
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
phonenumbers
psycopg2-binary
PyJWT
PyYAML
referencing
rpds-py
sqlparse
typing-extensions
tzdata
uritemplate
